In [1]:
print("Vic was here")
print("Jon is here too")

Vic was here
Jon is here too

In [2]:

# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
import os

In [3]:
#File path
file_path = "glassdoor_reviews.csv"

In [4]:
# Read File and store into Pandas DataFrames
file_read= pd.read_csv(file_path)
file_read.head()

,Unnamed: 0,column_label,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,...,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons,use
0,1,1,Sotheby-s,44341,Financial Analyst,"Former Employee, more than 1 year","New York, NY",1,1.0,1.0,...,1.0,2.0,1.0,x,r,x,Don't do it,People in leadership roles have been there for...,Pressure to do whatever the leaders want\r\nNo...,NaN
1,2,1,Sotheby-s,44341,Administrator,Former Employee,Hong Kong,4,4.0,5.0,...,3.0,4.0,4.0,o,o,o,international auction house,"great exposure, respectful environment and bea...",OT during peak seasons and often underpaid,NaN
2,3,1,Sotheby-s,44340,Client Services Representative,"Former Employee, more than 1 year","London, England, England",4,5.0,4.0,...,5.0,4.0,5.0,v,v,v,"Fast-paced, difficult and rewarding","Good team, support and training",High-stress with relatively low conpensation,NaN
3,4,1,Sotheby-s,44338,Anonymous Employee,Current Employee,Hong Kong,3,2.0,2.0,...,3.0,2.0,3.0,o,o,o,Review,"Exposure to artworks, great team of specialists","Work life balance, company culture",NaN
4,5,1,Sotheby-s,44331,Administrator,"Current Employee, less than 1 year","London, England, England",4,4.0,4.0,...,3.0,3.0,3.0,v,r,v,Fun job and nice people but huge workload and ...,"Fantastic art, nice enthusiastic people and a ...",Very low pay and huge workload,NaN

In [5]:
file_read.dtypes

Unnamed: 0               int64
column_label             int64
firm                    object
date_review              int64
job_title               object
current                 object
location                object
overall_rating           int64
work_life_balance      float64
culture_values         float64
diversity_inclusion    float64
career_opp             float64
comp_benefits          float64
senior_mgmt            float64
recommend               object
ceo_approv              object
outlook                 object
headline                object
pros                    object
cons                    object
use                    float64
dtype: object

In [6]:
#
file_read.dropna(how="any")

Empty DataFrame
Columns: [Unnamed: 0, column_label, firm, date_review, job_title, current, location, overall_rating, work_life_balance, culture_values, diversity_inclusion, career_opp, comp_benefits, senior_mgmt, recommend, ceo_approv, outlook, headline, pros, cons, use]
Index: []

[0 rows x 21 columns]

In [7]:
#

In [8]:
#Calculate the total number of firms
firm_total= file_read["firm"].nunique()
firm_total

428

In [9]:
#Calculate the total number of job titles
job_title_total= file_read["job_title"].nunique()
job_title_total

62275

In [10]:
#Set the index to "firm"
firm_index=file_read.set_index("firm")
firm_index

,Unnamed: 0,column_label,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons,use
firm,,,,,,,,,,,,,,,,,,,,
Sotheby-s,1,1,44341,Financial Analyst,"Former Employee, more than 1 year","New York, NY",1,1.0,1.0,1.0,1.0,2.0,1.0,x,r,x,Don't do it,People in leadership roles have been there for...,Pressure to do whatever the leaders want\r\nNo...,NaN
Sotheby-s,2,1,44341,Administrator,Former Employee,Hong Kong,4,4.0,5.0,4.0,3.0,4.0,4.0,o,o,o,international auction house,"great exposure, respectful environment and bea...",OT during peak seasons and often underpaid,NaN
Sotheby-s,3,1,44340,Client Services Representative,"Former Employee, more than 1 year","London, England, England",4,5.0,4.0,4.0,5.0,4.0,5.0,v,v,v,"Fast-paced, difficult and rewarding","Good team, support and training",High-stress with relatively low conpensation,NaN
Sotheby-s,4,1,44338,Anonymous Employee,Current Employee,Hong Kong,3,2.0,2.0,3.0,3.0,2.0,3.0,o,o,o,Review,"Exposure to artworks, great team of specialists","Work life balance, company culture",NaN
Sotheby-s,5,1,44331,Administrator,"Current Employee, less than 1 year","London, England, England",4,4.0,4.0,3.0,3.0,3.0,3.0,v,r,v,Fun job and nice people but huge workload and ...,"Fantastic art, nice enthusiastic people and a ...",Very low pay and huge workload,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Department-for-Work-And-Pensions,838562,71,40424,Analyst,Former Employee,"London, England, England",2,4.0,NaN,NaN,2.0,2.0,3.0,o,v,o,DWP Analyst Position,Workforce consists of highly motivated and int...,Often too relaxed and many lack much drive on ...,NaN
Department-for-Work-And-Pensions,838563,71,40293,Assistant Economist,Current Employee,"London, England, England",3,5.0,NaN,NaN,5.0,1.0,2.0,o,r,o,Stress free job with very strong work life bal...,Only 36 hours a week.\r\nLots of opportunities...,Pay is OK at first but with little growth or b...,NaN
Department-for-Work-And-Pensions,838564,71,40125,Private Secretary,Current Employee,"London, England, England",4,4.0,NaN,NaN,4.0,2.0,3.0,v,v,o,Inner workings - interesting,"Big department, with lots of opportunities to ...",Long hours tend to be unrewarded when they hap...,NaN
Department-for-Work-And-Pensions,838565,71,40010,DASO Jobcentre,Current Employee,"Newport, Newport, Wales, Wales",4,5.0,NaN,NaN,3.0,3.0,2.0,v,x,o,Band B - AO,Safe place to work when in recession. People ...,90% of the time its only a very short contract...,NaN
Department-for-Work-And-Pensions,838566,71,39806,CSO,Current Employee,NaN,2,2.0,NaN,NaN,2.0,1.0,1.0,x,x,o,Terrible organisation now - used to beOK once,Cant think of any at all,Hopeless management turning into acall centre ...,NaN

In [11]:
#Delete the columns which are not useful
file_new= file_read.drop(["column_label","recommend", "ceo_approv","outlook","headline","pros", "cons", "use"], axis=1)
file_new

,Unnamed: 0,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt
0,1,Sotheby-s,44341,Financial Analyst,"Former Employee, more than 1 year","New York, NY",1,1.0,1.0,1.0,1.0,2.0,1.0
1,2,Sotheby-s,44341,Administrator,Former Employee,Hong Kong,4,4.0,5.0,4.0,3.0,4.0,4.0
2,3,Sotheby-s,44340,Client Services Representative,"Former Employee, more than 1 year","London, England, England",4,5.0,4.0,4.0,5.0,4.0,5.0
3,4,Sotheby-s,44338,Anonymous Employee,Current Employee,Hong Kong,3,2.0,2.0,3.0,3.0,2.0,3.0
4,5,Sotheby-s,44331,Administrator,"Current Employee, less than 1 year","London, England, England",4,4.0,4.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
838561,838562,Department-for-Work-And-Pensions,40424,Analyst,Former Employee,"London, England, England",2,4.0,NaN,NaN,2.0,2.0,3.0
838562,838563,Department-for-Work-And-Pensions,40293,Assistant Economist,Current Employee,"London, England, England",3,5.0,NaN,NaN,5.0,1.0,2.0
838563,838564,Department-for-Work-And-Pensions,40125,Private Secretary,Current Employee,"London, England, England",4,4.0,NaN,NaN,4.0,2.0,3.0
838564,838565,Department-for-Work-And-Pensions,40010,DASO Jobcentre,Current Employee,"Newport, Newport, Wales, Wales",4,5.0,NaN,NaN,3.0,3.0,2.0
838565,838566,Department-for-Work-And-Pensions,39806,CSO,Current Employee,NaN,2,2.0,NaN,NaN,2.0,1.0,1.0

In [12]:
#Filter data by "firm" using groupby method
firm_group= file_new.groupby(["firm"])
firm_group

In [13]:
#Count number of "job title" in each firm 
firm_group["job_title"].count()

firm
AFH-Wealth-Management      63
AJ-Bell                   114
ALDI                      931
AQA                       114
ASDA                     4760
                         ...
i-Net-Solution              4
ibis                      120
mydentist-UK               95
next                     3324
the-LEGO-Group            824
Name: job_title, Length: 428, dtype: int64

In [14]:
#Calculate Mean based on firm
wlb_df = firm_group["overall_rating","work_life_balance","culture_values","diversity_inclusion","career_opp","comp_benefits","senior_mgmt"].mean()
wlb_df

C:\Users\victo\AppData\Local\Temp\ipykernel_18268\956376039.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  wlb_df = firm_group["overall_rating","work_life_balance","culture_values","diversity_inclusion","career_opp","comp_benefits","senior_mgmt"].mean()

,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt
firm,,,,,,,
AFH-Wealth-Management,2.904762,3.500000,2.964912,3.000000,2.872727,2.803571,2.807018
AJ-Bell,3.359649,3.561905,3.514286,3.027027,3.304762,3.028571,3.142857
ALDI,3.422127,2.579674,3.115723,3.562992,3.198254,3.389724,2.998742
AQA,3.622807,3.694737,3.425532,3.777778,2.723404,3.168421,2.882979
ASDA,3.352521,3.108824,3.184744,3.684796,2.916867,3.050497,2.754372
...,...,...,...,...,...,...,...
i-Net-Solution,4.000000,3.666667,3.666667,NaN,3.000000,3.000000,3.333333
ibis,3.358333,2.937500,3.221053,3.583333,3.135417,2.947917,2.821053
mydentist-UK,3.305263,3.309524,3.202381,3.000000,3.238095,2.857143,3.071429
next,3.358303,3.229527,3.141359,3.705986,2.839954,3.048884,2.948243
the-LEGO-Group,3.986650,3.965753,4.293952,4.190789,3.241758,3.668508,3.459834

In [15]:
#Replace NaN/None Values with Zero
wlb_fill_na_df = wlb_df.fillna(0)
wlb_fill_na_df

,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt
firm,,,,,,,
AFH-Wealth-Management,2.904762,3.500000,2.964912,3.000000,2.872727,2.803571,2.807018
AJ-Bell,3.359649,3.561905,3.514286,3.027027,3.304762,3.028571,3.142857
ALDI,3.422127,2.579674,3.115723,3.562992,3.198254,3.389724,2.998742
AQA,3.622807,3.694737,3.425532,3.777778,2.723404,3.168421,2.882979
ASDA,3.352521,3.108824,3.184744,3.684796,2.916867,3.050497,2.754372
...,...,...,...,...,...,...,...
i-Net-Solution,4.000000,3.666667,3.666667,0.000000,3.000000,3.000000,3.333333
ibis,3.358333,2.937500,3.221053,3.583333,3.135417,2.947917,2.821053
mydentist-UK,3.305263,3.309524,3.202381,3.000000,3.238095,2.857143,3.071429
next,3.358303,3.229527,3.141359,3.705986,2.839954,3.048884,2.948243
the-LEGO-Group,3.986650,3.965753,4.293952,4.190789,3.241758,3.668508,3.459834

In [16]:
# VG - Top rated firm (overall rating)
top_firms = wlb_fill_na_df.sort_values("overall_rating", ascending = False)
top_firms.head()

,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt
firm,,,,,,,
The-Survey-Association,5.000000,3.333333,4.666667,5.000000,4.666667,4.000000,3.666667
Time-Etc,4.785714,4.700000,4.775000,4.777778,4.658537,4.410256,4.789474
Northern-Gas-and-Power,4.719682,4.750000,4.708075,4.517241,4.688660,4.756198,4.683884
CarShop-UK,4.651163,4.127572,4.597510,4.363636,4.553719,4.508264,4.576763
Michelmores,4.610390,4.588235,4.632353,4.000000,4.382353,4.323529,4.313433

In [17]:
# VG - Bottom rated firms
bottom_firms = top_firms.tail()
bottom_firms = bottom_firms.sort_values('overall_rating')
bottom_firms.head()

,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt
firm,,,,,,,
The-Range,2.200000,2.236842,1.946667,2.734513,2.097884,1.770667,1.954667
Creative-Support,2.257778,2.106599,2.472081,3.333333,2.296482,2.030612,2.139175
James-Hay-Partnership,2.311111,2.645570,2.287500,3.428571,2.125000,2.587500,2.000000
Macdonald-Hotels-and-Resorts,2.330472,2.173709,2.188679,3.300000,2.391509,2.300469,2.080569
Diligenta,2.363636,2.847826,2.195652,2.759259,1.920290,1.942029,2.072464

In [18]:
employer_rating["overall_rating"] = employer_rating.groupby()
employer_rating

KeyError: 'overall_rating'